<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>置维科技-上海置维科技安全响应平台</title>

    <!-- Bootstrap core CSS -->
    <link href="../resources/bootstrap4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/offcanvas.css" rel="stylesheet">
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">置维科技</a>
        <input type="hidden" id="accessToken" value="ee0b695b-8e0c-4f37-b454-8a623e10f582_10028_b6ed773c-d15b-46ff-bfd6-ef083223e30a">
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">快捷桌面 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">作业任务</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">扫描队列</a>
              <a class="dropdown-item" href="#">扫描记录</a>
              <a class="dropdown-item" href="#">自动作业</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">新建任务</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">数据报告</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">系统设置</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="loadPage('mainContainer','teamManager.html')">用户团队</a>
          </li>

        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </div>
    </nav>

    <main role="main" class="container" id="mainContainer">

    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">上海置维科技安全响应平台</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../resources/bootstrap4/js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
  </body>
</html>
