<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--<link href="../resources/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">-->
  </head>

  <body>
  <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
    <div class="container">
      <div class="card-deck mb-3 mt-3 text-center">

        <div class="card mb-4 box-shadow" style="min-height: 500px;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal" align="left">项目设置</h4>
          </div>
          <div class="card-body">
            <form class="needs-validation" id="projectForm" novalidate>
              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">项目名称：</span>
                </div>
                <input type="text" class="form-control" id="projectName" name="interfaceName" >
              </div>
              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">团队设置：</span>
                </div>
                <select class="selectpicker w-50" id="teamId" name="teamId">
                </select>
              </div>
              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">文件设置：</span>
                </div>
                <input type="hidden" class="form-control" id="uploadType" name="uploadType">
                <a class="btn btn-outline-primary ml-2 mr-2" href="#" onclick="openFileDialog()">本地上传</a>

                <a class="btn btn-outline-primary" href="#" onclick="openRemoteDialog()">远程文件</a>
              </div>
              <div class="input-group m-1" id="fileDiv" style="display: none">
                <div class="input-group-prepend">
                  <span class="input-group-text">存储文件名：</span>
                </div>
                <input type="text" class="form-control" id="fileName" name="fileName" readonly>
              </div>
              <div class="input-group m-1" id="remoteDiv" style="display: none">
                <div class="input-group-prepend">
                  <span class="input-group-text">远程  URL：</span>
                </div>
                <input type="hidden" class="form-control" id="remoteType" name="remoteType">
                <input type="text" class="form-control"   id="svnGitUrl" name="svnGitUrl" readonly>
                <input type="hidden" class="form-control" id="svnGitUsername" name="svnGitUsername">
                <input type="hidden" class="form-control" id="svnGitPwd" name="svnGitPwd">
                <input type="hidden" class="form-control" id="gitBranchname" name="gitBranchname">
              </div>

              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">文件过滤  ：</span>
                </div>
                <textarea type="text" style="min-height: 60px" class="form-control" id="fileFilter" name="fileFilter"></textarea>
              </div>
              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">文件夹过滤：</span>
                </div>
                <textarea type="text" style="min-height: 60px" class="form-control" id="directoryFilter" name="directoryFilter"></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal" align="left">基础设置</h4>
          </div>
          <div class="card-body">
            <div class="input-group m-1">
              <div class="input-group-prepend">
                <span class="input-group-text">接口选择：</span>
              </div>
            </div>
            <div id="interfaceListTitle">
            </div>
            <div class="input-group m-1">
              <div class="input-group-prepend">
                <span class="input-group-text">扫描提交发送：</span>
              </div>
              <input type="text" class="form-control" id="submitReceivers" name="submitReceivers" readonly>
            </div>


          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal" align="left">计划配置</h4>
          </div>
          <div class="card-body">

          </div>
        </div>

      </div>
    </div>
  </body>

  <script src="../js/jquery.form.js" type="text/javascript"></script>
  <script src="../js/newTask/newTask.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(function () {
          var url = TASK_ADD_PREFIX + "teamSetting";
          var teamSelectParam = new DataTemplate();
          var data = sendPost(url, teamSelectParam);
          var teamArray = data.datas;
          var html = "";
          for(var i in teamArray) {
              html += '<option value=\"' + teamArray[i].teamId + '\">' + teamArray[i].teamName + '</option>'
          }
          $("#teamId").html(html);

          // 接口查询
          var interfaceParam = new DataTemplate({
              pageNum: 1,
              pageSize: 100
          });
          var interfaceUrl = INTERFACE_PREFIX + 'query';
          var _interfaceData = sendPost(interfaceUrl, interfaceParam);
          var interfaceArray = _interfaceData.datas;
          var interfaceHtml = "";
          //interfaceArray = [{interfaceId : 1, interfaceName : '接口1接口1接口1接口1接口1'}, {interfaceId : 2, interfaceName : '接口2'}, {interfaceId : 3, interfaceName : '接口3'}];
          for (var i in interfaceArray) {
              interfaceHtml += '<div class="custom-control custom-checkbox"><input type="checkbox" id="interfaceList'+ i +'" name="interfaceList" class="custom-control-input" value="'+ interfaceArray[i].interfaceId +'">'
                  + '<label class="custom-control-label" for="interfaceList'+ i +'">'+ interfaceArray[i].interfaceName +'</label>' +
                  '</div>';
          }
          $("#interfaceListTitle").html(interfaceHtml);
      });


  </script>
  <script type="text/html" id="remoteHtml">
    <div>
      <div class="input-group m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">远程代码仓库类型：</span>
        </div>
        <select id="pop_remoteType" class="w-50">
          <option value="1" {{if remoteType == 1}}selected {{/if}}>SVN</option>
          <option value="2" {{if remoteType == 2}}selected {{/if}}>GIT</option>
        </select>
      </div>
      <div class="input-group m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">远程仓库地址：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="w-50" id="pop_svnGitUrl" value="{{svnGitUrl}}">
      </div>
      <div class="input-group m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">连接用户名：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="w-50" id="pop_svnGitUsername" value="{{svnGitUsername}}">
      </div>
      <div class="input-group m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">连接密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="w-50" id="pop_svnGitPwd" value="{{svnGitPwd}}">
      </div>
      <div class="input-group m-1">
        <div class="input-group-prepend">
          <span class="input-group-text">git分支：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <input type="text" class="w-50" id="pop_gitBranchname" value="{{gitBranchname}}">
      </div>
    </div>
  </script>
</html>
