<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  </head>

  <body>
  <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
    <div class="container">
      <div class="card-deck mb-3 mt-3 text-center">

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">项目设置</h4>
          </div>
          <div class="card-body">
            <form class="needs-validation" id="projectForm" novalidate>
              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">项目名称：</span>
                </div>
                <input type="text" class="form-control" id="projectName" name="interfaceName" >
              </div>
              <div class="input-group m-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">团队设置：</span>
                </div>
                <input type="text" class="form-control" id="teamId" name="teamId" >
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">基础设置</h4>
          </div>
          <div class="card-body">

          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">计划配置</h4>
          </div>
          <div class="card-body">

          </div>
        </div>

      </div>
    </div>
  </body>
</html>
