<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
       a {cursor  : pointer;}
       .input-group-prepend{
           width: 100px;
       }

       td{
           overflow:hidden;
           text-overflow:ellipsis;
           white-space:nowrap;
       }
    </style>

</head>
<body>
    <div class="container">
        <div class="row mb-2 mt-3">
            <div class="col-md-8" >
                <div class="card mb-4 box-shadow">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">系统设置</strong>
                        <h3 class="mb-0">
                            <p class="text-dark" href="#">集成设置</p>
                        </h3>
                        <!--<div class="mb-1 text-muted">Nov 12</div>-->
                        <!--<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
                        <div>
                            <table id="settingTable" class="table" style="width:100%;table-layout: fixed;"></table>
                        </div>
                        <!--<a href="#">Continue reading</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body d-flex flex-column" id="apiRightContent">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/html" id="apiSettingHtml">
    <h3 class="mb-0">
        <p class="text-dark" href="#">编辑接口</p>
    </h3>
    <form class="needs-validation" id="apiForm" novalidate>
    <div class="mb-3">
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">接口名称：</span>
            </div>
            <input type="text" class="form-control" id="interfaceName" name="interfaceName" value="{{row.interfaceName}}">
            <input type="hidden" class="form-control" id="interfaceId" name="interfaceId" value="{{row.interfaceId}}">
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">扫描类型：</span>
            </div>
            <select id="scanType" name="scanType">
                <option value="1" {{if row.scanType == 1}}selected {{/if}}>静态扫描</option>
                <option value="2" {{if row.scanType == 2}}selected {{/if}}>动态扫描</option>
            </select>
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">URL地址：</span>
            </div>
            <!--<input type="text" class="form-control" id="urlAddress" name="urlAddress" value="{{row.urlAddress}}">-->
            <textarea type="text" style="min-height: 100px" class="form-control" id="urlAddress" name="urlAddress">{{row.urlAddress}}</textarea>
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text input-group-prepend">帐号：</span>
            </div>
            <input type="text" class="form-control" id="account" name="account" value="{{row.account}}">
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text input-group-prepend">密码：</span>
            </div>
            <input type="text" class="form-control" id="password" name="password" value="{{row.password}}">
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text input-group-prepend">密钥：</span>
            </div>
            <input type="text" class="form-control" id="secretKey" name="secretKey" value="{{row.secretKey}}">
        </div>

        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">命令模版：</span>
            </div>
            <input type="text" class="form-control" id="commandTemplate" name="commandTemplate" value="{{row.commandTemplate}}">
        </div>

        <div class="input-group m-1">
            <p class="input-group-text input-group-prepend">状态：</p>
            <div class="border">
                <label for="statusOn" class="mt-1 ml-3">
                    <input type="radio" class="mt-2" id="statusOn" name="status" value="1" {{if row.status == 1}}checked {{/if}}>
                    开启
                </label>
                <label for="statusOff" class="mt-1 ml-3 mr-3">
                    <input type="radio" class="mt-2" id="statusOff" name="status" value="2" {{if row.status == 2}}checked {{/if}}>
                    禁用
                </label>
            </div>
        </div>

    </div>
    <hr class="mb-4">
    <a class="btn btn-primary btn-lg" onclick="submitEdit()">保存</a>
        <a class="btn btn-primary btn-lg" onclick="cancelEdit()">取消</a>
    </form>
</script>
<script type="text/javascript">
    var currentRow = {};
    $(function () {
        $('#settingTable').bootstrapTable({
            url : INTERFACE_PREFIX + 'query',
            method : 'POST',
            cache : false,
            //dataType : 'json',
            contentType : 'application/json',
            pagination : true,
            queryParams : queryParams,
            //queryParamsType : '',
            responseHandler : responseHandler,
            pageSize : 5,
            pageList : [5, 10, 20, 100],
            pageNumber : 1,
            sidePagination: "server",
            clickToSelect : true,
            singleSelect : true,
            columns: [
                {
                    checkbox : true
                },
                {
                    field: 'interfaceName',
                    title: '接口名称',
                    class : 'table-cell',
                    align : 'center'
                },
                {
                    field: 'scanType',
                    title: '扫描类型',
                    width : '100',
                    align : 'center',
                    /** 1:静态扫描 2：动态扫描*/
                    formatter: function (value,row,index) {
                        if (value === '1' || value === 1) {
                            return '静态扫描';
                        } else {
                            return '动态扫描';
                        }
                    }
                },
                {
                    field: 'urlAddress',
                    title: 'URL地址',
                    class : 'table-cell',
                    align : 'center'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value,row,index) {
                        if (value === '1' || value === 1) {
                            return '开启';
                        } else {
                            return '禁用';
                        }
                    },
                    width : '80',
                    align : 'center'
                }
                ],
            onClickRow : onClickRow

        });

        var html = template('apiSettingHtml', {
            mode : MODE.view,
            row : {}
        });
        $('#apiRightContent').html(html);
    });

    function queryParams(params) {
        var temp = {
            pageNum: params.offset+1,
            pageSize: params.limit
        };
        var p = new DataTemplate(temp);
        return JSON.stringify(p);
    }

    function responseHandler(res) {
        //var parseData= JSON.parse(res);
        console.log(res);
        var data ={};
        if(res.code === "0") {
            //有回传数据的回转
            if (res.data) {
                data = res.data;
                return {
                    rows : data.datas,
                    total : data.totalCount
                }
            }
        }
        return data;
    }

    function submitEdit() {
        var url = INTERFACE_PREFIX + 'modify';
        submitForm('apiForm', url);
        $("#settingTable").bootstrapTable('refresh');
    }
    
    function onClickRow(row) {
        var html = template('apiSettingHtml', {
            mode : MODE.edit,
            row : row
        });
        $('#apiRightContent').html(html);
        currentRow = row;
    }

    function cancelEdit() {
        var html = template('apiSettingHtml', {
            mode : MODE.edit,
            row : currentRow
        });
        $('#apiRightContent').html(html);
    }

</script>
</html>