<!DOCTYPE html>
<HTML>
<HEAD>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<script src="../js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="../resources/ztree/js/jquery.ztree.all.min.js"></script>
	<script src="../js/common.js"></script>
	<script src="../js/teamManager/team.js"></script>
	<link rel="stylesheet" href="../resources/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<style type="text/css">
		.ztree * {font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
		.ztree li ul{ margin:0; padding:0}
		.ztree li {line-height:30px;}
		.ztree li a {width:200px;height:30px;padding-top: 0px;}
		.ztree li a:hover {text-decoration:none; background-color: #E7E7E7;}
		.ztree li a span.button.switch {visibility:hidden}
		.ztree.showIcon li a span.button.switch {visibility:visible}
		.ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
		.ztree li span {line-height:30px;font-size: 150%;}
		.ztree li span.button {margin-top: -7px;}
		.ztree li span.button.switch {width: 16px;height: 16px;}

		.ztree li span.button {background-image:url("../img/ztree/left_menuForOutLook.png"); *background-image:url("../img/ztree/left_menuForOutLook.gif")}
		.ztree li span.button.switch.level0 {width: 20px; height:20px}
		.ztree li span.button.switch.level1 {width: 20px; height:20px}
		.ztree li span.button.noline_open {background-position: 0 0;}
		.ztree li span.button.noline_close {background-position: -18px 0;}
		.ztree li span.button.noline_open.level0 {background-position: 0 -18px;}
		.ztree li span.button.noline_close.level0 {background-position: -18px -18px;}
	</style>
	<SCRIPT type="text/javascript">
		var setting = {
            async: {
                enable: true,
                url: TEAM_PREFIX + 'query/teamanduser',
                contentType: "application/json",
                dataFilter :filter,
				type : "post",
                otherParam : getParams
            },
			data: {
				key: {
					title:"t"
				},
                simpleData: {
                    enable:true,
                    idKey: "teamOrUserId",
                    pIdKey: "pid",
                    rootPId: ""
                }
            },
			callback: {
				beforeClick: beforeClick,
				onClick: onClick,
                beforeAsync : beforeAsync
			},
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                showLine: false,
                //showIcon: false,
                selectedMulti: false,
                dblClickExpand: false,
                addDiyDom : addDiyDom
        	}

		};

        function addDiyDom(treeId, treeNode) {
            var spaceWidth = 5;
            var switchObj = $("#" + treeNode.tId + "_switch"),
                icoObj = $("#" + treeNode.tId + "_ico");
            switchObj.remove();
            icoObj.before(switchObj);

            if (treeNode.level > 1) {
                var spaceStr = "<span style='display: inline-block;width:" + (spaceWidth * treeNode.level)+ "px'></span>";
                switchObj.before(spaceStr);
            }
        }

		function beforeClick(treeId, treeNode, clickFlag) {
            if (treeNode.level === 0 ) {
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                zTree.expandNode(treeNode);
                return false;
            }
            return true;
		}
		function onClick(event, treeId, treeNode, clickFlag) {

		}

        function addHoverDom(treeId, treeNode) {

        }
        function removeHoverDom(treeId, treeNode) {

        }
		
		function getParams(treeId, treeNode) {
		    console.log(treeNode.teamOrUserId);
            return new DataTemplate({teamId:treeNode.teamOrUserId});
        }
		function beforeAsync(treeId, treeNode) {
		    //团队才可以加载
            return treeNode.type === "1";
        }

		$(document).ready(function(){
            var initRequestData = new DataTemplate({teamId:1});
            var url = TEAM_PREFIX + 'query/teamanduser';
            var initData = sendPost(url,initRequestData);
            var initNodes = initData.datas;
            parseNodes(initNodes);
            var treeObj = $("#treeDemo");
			$.fn.zTree.init(treeObj, setting, initNodes);
            /*treeObj.hover(function () {
                if (!treeObj.hasClass("showIcon")) {
                    treeObj.addClass("showIcon");
                }
            }, function() {
                treeObj.removeClass("showIcon");
            });*/
            treeObj.addClass("showIcon");
		});

        /**
         * 转换name
         * @param nodes
         */
        function parseNodes(nodes) {
            if (nodes) {
                for (var i in nodes) {
                    nodes[i].name = nodes[i].teamOrUserName;
                    if (nodes[i].type === "1") {
                        nodes[i].isParent = true;
                    }
                }
            }
            return nodes;
        }

        function filter(treeId, parentNode, responseData) {
            console.log(responseData);
            if (responseData.code === '0') {
                return parseNodes(responseData.data.datas);
            } else {
                return null;
			}
        }

	</SCRIPT>
</HEAD>

<BODY>
<div class="content_wrap">

</div>
<div class="row">
	<div class="col-md-4 order-md-1 mb-4">
		<h4 class="d-flex justify-content-between align-items-center mb-3 mt-5">
			<span class="text-muted">团队管理</span>
			<span class="badge badge-secondary badge-pill"></span>

		</h4>
		<div class="zTreeDemoBackground left list-group mb-3">
			<ul id="treeDemo" class="ztree"></ul>
		</div>
		<!--<ul class="list-group mb-3">
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<h6 class="my-0">Product name</h6>
					<small class="text-muted">Brief description</small>
				</div>
				<span class="text-muted">$12</span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<h6 class="my-0">Second product</h6>
					<small class="text-muted">Brief description</small>
				</div>
				<span class="text-muted">$8</span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<h6 class="my-0">Third item</h6>
					<small class="text-muted">Brief description</small>
				</div>
				<span class="text-muted">$5</span>
			</li>
			<li class="list-group-item d-flex justify-content-between bg-light">
				<div class="text-success">
					<h6 class="my-0">Promo code</h6>
					<small>EXAMPLECODE</small>
				</div>
				<span class="text-success">-$5</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span>Total (USD)</span>
				<strong>$20</strong>
			</li>
		</ul>-->


		<!--<form class="card p-2">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Promo code">
				<div class="input-group-append">
					<button type="submit" class="btn btn-secondary">Redeem</button>
				</div>
			</div>
		</form>-->
	</div>
	<div class="col-md-8 order-md-2">
		<h4 class="mb-3 mt-5">Billing address</h4>
		<form class="needs-validation" novalidate>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="firstName">First name</label>
					<input type="text" class="form-control" id="firstName" placeholder="" value="" required>
					<div class="invalid-feedback">
						Valid first name is required.
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="lastName">Last name</label>
					<input type="text" class="form-control" id="lastName" placeholder="" value="" required>
					<div class="invalid-feedback">
						Valid last name is required.
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="username">Username</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">@</span>
					</div>
					<input type="text" class="form-control" id="username" placeholder="Username" required>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="email">Email <span class="text-muted">(Optional)</span></label>
				<input type="email" class="form-control" id="email" placeholder="you@example.com">
				<div class="invalid-feedback">
					Please enter a valid email address for shipping updates.
				</div>
			</div>

			<div class="mb-3">
				<label for="address">Address</label>
				<input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
				<div class="invalid-feedback">
					Please enter your shipping address.
				</div>
			</div>

			<div class="mb-3">
				<label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
				<input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
			</div>

			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="country">Country</label>
					<select class="custom-select d-block w-100" id="country" required>
						<option value="">Choose...</option>
						<option>United States</option>
					</select>
					<div class="invalid-feedback">
						Please select a valid country.
					</div>
				</div>
				<div class="col-md-4 mb-3">
					<label for="state">State</label>
					<select class="custom-select d-block w-100" id="state" required>
						<option value="">Choose...</option>
						<option>California</option>
					</select>
					<div class="invalid-feedback">
						Please provide a valid state.
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="zip">Zip</label>
					<input type="text" class="form-control" id="zip" placeholder="" required>
					<div class="invalid-feedback">
						Zip code required.
					</div>
				</div>
			</div>
			<hr class="mb-4">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="same-address">
				<label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="save-info">
				<label class="custom-control-label" for="save-info">Save this information for next time</label>
			</div>
			<hr class="mb-4">

			<h4 class="mb-3">Payment</h4>

			<div class="d-block my-3">
				<div class="custom-control custom-radio">
					<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
					<label class="custom-control-label" for="credit">Credit card</label>
				</div>
				<div class="custom-control custom-radio">
					<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
					<label class="custom-control-label" for="debit">Debit card</label>
				</div>
				<div class="custom-control custom-radio">
					<input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
					<label class="custom-control-label" for="paypal">Paypal</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="cc-name">Name on card</label>
					<input type="text" class="form-control" id="cc-name" placeholder="" required>
					<small class="text-muted">Full name as displayed on card</small>
					<div class="invalid-feedback">
						Name on card is required
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="cc-number">Credit card number</label>
					<input type="text" class="form-control" id="cc-number" placeholder="" required>
					<div class="invalid-feedback">
						Credit card number is required
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="cc-expiration">Expiration</label>
					<input type="text" class="form-control" id="cc-expiration" placeholder="" required>
					<div class="invalid-feedback">
						Expiration date required
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="cc-expiration">CVV</label>
					<input type="text" class="form-control" id="cc-cvv" placeholder="" required>
					<div class="invalid-feedback">
						Security code required
					</div>
				</div>
			</div>
			<hr class="mb-4">
			<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
		</form>
	</div>
</div>
</BODY>
</HTML>